//
            Project Name: Javascript - Assignment 2
            Author's name: Manjot Singh Saha
            Website name: fLicker.com
            Website url: https://assignment2-javascript.herokuapp.com/
//

br
br
hr
p
    small &copy; All rights reserved to Manjot Singh Saha (200427314)
p 
    small Assignment 2 - Javascript Frameworks