//
            File Name: Footer 
        Author's name: Manjot Singh Saha
         Website name: My Portfolio
     File description: This file will provide footer to all the web pages.
//

br
br
hr
p
    small &copy; All rights reserved to Manjot Singh Saha (200427314)
p 
    small Assignment 1 - Javascript Frameworks