//
            File Name: Header 
        Author's name: Manjot Singh Saha
         Website name: My Portfolio
     File description: This file will provide header to all the web pages.
//


// this will take us back to the home page by clicking on it
a(href='/')
    h1 fLickr.com

// This is the nav bar
div(class="topnav")
    a(class="active") #{title}
    a(href="about") About Me
    a(href="contact") Contact 
    a(href="services") Services
    a(href="Projects") Projects
    a(href='/insert') Insert

