extends layout

block content
  p#indexpara fLickr.com is world largest advertisements site with millions of live ads in a wide range of categories - cars, housing, jobs and everything in between. Two new ads are posted every minute! We’re proud to provide a platform that connects Canadians, helping them to buy great items in their community, make money off unused possessions cluttering up houses, and help the country waste less.
  //To check if any ads present
  if (advertisements && advertisements.length)
    table#tblindex
        thead
            th Ttile
            th Image
            th Description
            th Price
        tbody
            //If there are ads present then this will show the data in table
            each ad in advertisements
                tr
                    td= ad.title
                    td
                        img(src='/images/'+ad.image style="width:300px; height:210px;" alt="No image posted by user.")
                    td= ad.description
                    td= ad.price
  else
    h1 No ads present at this moment.