extends layout

block content

    //
                File Name: About Me page 
            Author's name: Manjot Singh Saha
                Website name: My Portfolio
            File description: This file contains the information about me and will render the page when asked by the user.
    //

    h2 About
    p My name is Manjot SIngh Saha. 
    p I am an International student in Canada and is currently enrolled in Computer Programming Diploma in Georgian College.

    h2 Education 
    ul
        li Computer Programming (2019 - 2021)
            br
            p Georgian College, Barrie
        li High School Diploma (2017 - 2018)
            br
            p Army Public School, Ambala Cantt


    h2 Goal
    p I always wanted to become a software programmer and work for a highly reputed organization.
