extends layout

block content

    //
                File Name: About Me page 
            Author's name: Manjot Singh Saha
                Website name: My Portfolio
            File description: This file contains the information about me and will render the page when asked by the user.
    //
    div#divabout
        p When we launched fLickr in 2005, the idea was to offer Canadians a fun and easy way for people in the same area to buy, sell, trade, and even help each other with goods, cars, services, housing, or jobs. That has not changed and now over 100 communities coast to coast are doing more for less.
        br
        p fLickr Central is here to help you get the most out of your fLickr experience. We have articles, tips, tutorials and more, for whatever your thing is.
        br
        p fLickr is an environmentally friendly and local way to recycle things. Plus, because fLickr connections are between people who live near each other, you can always see, touch, and try an item before you buy it.