extends layout

block content

    //
                File Name: Contact page 
            Author's name: Manjot Singh Saha
             Website name: My Portfolio
         File description: This file contains the conatct information and will render the page when asked by the user.
    //

    h2 Wanted to contact me ?

    p 
        b Address: 
        p 12 XYZ street
        p Toronto, ON, M1X 2Y5
  
    p 
        b Mobile No. :
        p (437)123-1234
    
    p 
        b Email:
        P 200427314@student.georgianc.on.ca