extends layout

block content

    //
            Project Name: Javascript - Assignment 2
            Author's name: Manjot Singh Saha
            Website name: fLicker.com
            Website url: https://assignment2-javascript.herokuapp.com/
    //

    h2 Wanted to contact me ?

    p 
        b Address: 
        p 12 XYZ street
        p Toronto, ON, M1X 2Y5
  
    p 
        b Mobile No. :
        p (437)123-1234
    
    p 
        b Email:
        P 200427314@student.georgianc.on.ca