extends layout

block content
  //Check for any articles being passed in from the server
  if (advertisements && advertisements.length)
    table#tblindex
        thead
            th Name
            th Image
            th Description
            th Price
            //th Update
            //th Delete
        tbody
            //If there is articles, create a row and column for each article
            each ad in advertisements
                tr
                    td= ad.title
                    td
                        img(src='/images/'+ad.image style="width:300px; height:210px;" alt="No image posted by user.")
                    td= ad.description
                    td= ad.price
                    //td 
                    //    a(href='/update/'+ad.id) Update
                    //td
                    //    form(method='POST' action='/delete/'+ad.id)
                    //        button(type='submit') Delete
  else
    h1 No ads present at this moment.