extends layout

block content
  //
            Project Name: Javascript - Assignment 2
            Author's name: Manjot Singh Saha
            Website name: fLicker.com
            Website url: https://assignment2-javascript.herokuapp.com/
  //
  h1 Insert Your Advertisement
  hr
  //Insert form
  form(method='POST' action='/insert' enctype='multipart/form-data')
    fieldset
        h2 Title
        input(type='text' name='title' placeholder="Enter the title")
    fieldset
        h2 Image
        input(type='text' name='pictitle' placeholder="Enter name of image")
        br
        input#btnupload(type='file' name='upload')
    fieldset
        h2 Description
        input(type='text' name='description' placeholder="Enter description")
    fieldset
        h2 Price
        input(type='text' name='price' placeholder="Enter price")
    div
        button#btninsert(type='submit' value='Submit') Submit