doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap",rel="stylesheet")
  body
    include partials/header
    block content
    include partials/footer