extends layout

block content
    //
            File Name: Projects page 
        Author's name: Manjot Singh Saha
            Website name: My Portfolio
        File description: This file contains the projects information that i have created and will render the page when asked by the user.
    //

    h2 Gaming Website
    p Built a gaming website using web programming languages such as HTML and CSS in first semester in Goergian College. 

    h2 Scrabble (Game)
    p Made a Scrabble game based on java programming language in my third semeseter in which I did the programming and also used GUI to make it look impressive
    
    h2 University Website
    p Made a University Website in my third semester using Asp.Net Using C#. 

    h2 Self Irrigating Planter (Arduino Project)
    p Built a self-irrigating planter which was based on the mechanism that it will automatically water the plants if the moisture level in the soil is low.