extends layout

block content
  //
            Project Name: Javascript - Assignment 2
            Author's name: Manjot Singh Saha
            Website name: fLicker.com
            Website url: https://assignment2-javascript.herokuapp.com/
  //
  h1 SignUp Page
  // SIgnup form
  form(method='POST' action='/signup')
    fieldset
        label(for='username') Username
        input#username(type='text' name='username' required)
    fieldset
        label(for='email') Email
        input#email(type='email' name='email' required)
    fieldset
        label(for='password') Password
        input#password(type='password' name='password' required)
    input#btnsignup(type='submit' value='Signup')
