/*
Project Name: Javascript - Assignment 2
Author's name: Manjot Singh Saha
Website name: fLicker.com
Website url: https://assignment2-javascript.herokuapp.com/
*/

/* I have copied the nav bar code from w3Schhols. Link- https://www.w3schools.com/howto/howto_js_topnav.asp */

@import url('main.css');
body {
    padding: 30px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 45px;
    font-family: bree serif;
    color: brown;
    font-weight: 900;
    margin-top: -10px;
}

a h1:hover {
    color: darkturquoise;
    text-decoration: none;
}

/*This is for the nav bar*/
/*Start*/
.topnav {
    overflow: hidden;
    background-color: #333;
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }
/*end*/

h2 {
    margin-top: 30px;
    font-size: 25px;
    color: firebrick;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 320px;
}

.info h3 {
    text-align: center;
}

#tblindex {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-top: 40px;
    margin-left: 10%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: lightcoral;
    height: 30px;
    font-size: 23px;
    text-align: center;
    font-family: 'Comic Sans MS';
    color: darkgreen;
    width: 500px;
}

td {
    font-size: 17px;
    text-align: center;
}

fieldset {
    margin-top: 20px;
    border-radius: 20px;
    background-color: moccasin;
}

input {
    height: 25px;
    width: 200px;
    margin-top: -30px;
    padding: 2px;
}
#btninsert {
    margin-top: 30px;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    background-color: crimson;
    font-size: 20px;
}

#btnupload {
    margin-top: 10px;
}

#username, #password, #email {
    margin-left: 15px;
    margin-top: 3.5px;
}

#btnsignup, #btnlogin, #btnsubmit {
    margin-top: 20px;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    background-color: crimson;
    font-size: 20px;
}

#btndelete {
    border-radius: 10px;
    height: 40px;
    width: 100px;
    background-color: crimson;
    font-size: 20px;
}

#tbledit {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-top: 40px;
    margin-left: 5%;
}

#navinsert {
    margin-left: 52%;
    background-color: steelblue;
}

#navedit {
    margin-left: 1px;
    background-color: steelblue;
}

#navlogin {
    margin-left: 60%;
    background-color: orangered;
}

#navlogout {
    margin-left: 1px;
    background-color: orangered;
}

#navsignup {
    margin-left: 30px;
    background-color: steelblue;
}

#indexpara {
    margin-top: 30px;
    font: 18px bree serif;
    text-align: justify;
    padding: 30px;
    line-height: 25px;
    font-weight: 600;
    background-color: #11DACD;
    border-radius: 15px;
}

#divabout {
    margin-top: 30px;
    font: 18px bree serif;
    text-align: justify;
    padding: 30px;
    line-height: 25px;
    font-weight: 600;
}
